<%- include('../layout/top') %>
<%- include('../layout/navbar') %>
<div
  class="records container h-100 d-flex flex-column justify-content-center align-items-center text-center text-white"
>
  <h1 class="mt-3">Pet <span class="text-warning">Statistics</span></h1>
  <table class="table mt-3">
    <thead>
      <tr class="table-light">
        <th>Name</th>
        <th>Foto</th>
        <th>Wins</th>
        <th>More info</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>

      <% if(dailywinner){ %>
      <tr class="table-warning">
        <td><%= dailywinner.pet_name %></td>
        <td>
          <img
            class="recordsImg img-fluid object-fit-cover"
            src="images/<%= dailywinner.pet_photo ?? 'nofoto.png' %>"
          />
        </td>
        <td><%= dailywinner.result_count %></td>
        <td>The pet who won the most battles today!</td>
        <td>Today's winner</td>
      </tr>
      <% } else { %>
      <tr class="table-warning">
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>Šiandien jokia kova neįvyko todėl duomenų dar nėra</td>
        <td>-</td>
      </tr>
      <% } %> 

      <% if(dailyloser){ %>
      <tr class="table-primary">
        <td><%= dailyloser.pet_name %></td>
        <td>
          <img
            class="recordsImg img-fluid object-fit-cover"
            src="images/<%= dailyloser.pet_photo ?? 'nofoto.png' %>"
          />
        </td>
        <td><%= dailyloser.result_count %></td>
        <td>The pet who won the least battles today...</td>
        <td>Today's loser</td>
      </tr>
      <% } else { %>
      <tr class="table-warning">
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>Šiandien jokia kova neįvyko todėl duomenų dar nėra</td>
        <td>-</td>
      </tr>
      <% } %> 

      <% if(weeklywinner) { %>
      <tr class="table-success">
        <td><%= weeklywinner.pet_name %></td>
        <td>
          <img
            class="recordsImg img-fluid object-fit-cover"
            src="images/<%= weeklywinner.pet_photo ?? 'nofoto.png' %>"
          />
        </td>
        <td><%= weeklywinner.result_count %></td>
        <td>The pet who won the most battles this week!</td>
        <td>This week's winner</td>
      </tr>
      <% } else { %>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Šią savaitę jokia kova neįvyko todėl duomenų dar nėra</td>
      <td>-</td>
      <% } %> 

      <% if(weeklyloser) { %>
      <tr class="table-danger">
        <td><%= weeklyloser.pet_name %></td>
        <td>
          <img
            class="recordsImg img-fluid object-fit-cover"
            src="images/<%= weeklyloser.pet_photo ?? 'nofoto.png' %>"
          />
        </td>
        <td><%= weeklyloser.result_count %></td>
        <td>The pet Who won the least battles this week...</td>
        <td>This week's loser</td>
      </tr>
      <% } else { %>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Šią savaitę jokia kova neįvyko todėl duomenų dar nėra</td>
      <td>-</td>
      <% } %> 

      <% if(monthlywinner) { %>
      <tr class="table-secondary">
        <td><%= monthlywinner.pet_name %></td>
        <td>
          <img
            class="recordsImg img-fluid object-fit-cover"
            src="images/<%= monthlywinner.pet_photo ?? 'nofoto.png' %>"
          />
        </td>
        <td><%= monthlywinner.result_count %></td>
        <td>The pet who won the most battles this month!</td>
        <td>This month's winner</td>
      </tr>
      <% } else { %>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Šį mėnesį jokia kova neįvyko todėl duomenų dar nėra</td>
      <td>-</td>
      <% } %>

      <% if(monthlyloser) { %>
      <tr class="table-info">
        <td><%= monthlyloser.pet_name %></td>
        <td>
          <img
            class="recordsImg img-fluid object-fit-cover"
            src="images/<%= monthlyloser.pet_photo ?? 'nofoto.png' %>"
          />
        </td>
        <td><%= monthlyloser.result_count %></td>
        <td>The pet who won the least battles this month...</td>
        <td>This month's loser</td>
      </tr>
      <% } else { %>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Šį mėnesį jokia kova neįvyko todėl duomenų dar nėra</td>
      <td>-</td>
      <% } %>
      
    </tbody>
  </table>
</div>

<%- include('../layout/bottom') %>
