<%- include('../layout/top') %>
<div class="container-fluid BattleWallpaper" >
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div>
    <h1>
      <%= pet1.name %>
      <img
        src="/IMG/—Pngtree—cartoon vs or versus text_8543385.png"
        style="max-height: 100px"
      />
      <%= pet2.name %>
    </h1>
    </div>

    <div>
      <a href="pets/result/<%= pet1.ID %>"
        ><img
          id="<%= pet1.ID %>"
          src="images/<%= pet1.foto ?? 'nofoto.png' %>"
          class="img-fluid object-fit-cover"
          style="width: 200px; height: 200px"
      /></a>
      <a href="pets/result/<%= pet2.ID %>"
        ><img
          id="<%= pet2.ID %>"
          src="images/<%= pet2.foto ?? 'nofoto.png' %>"
          class="img-fluid object-fit-cover"
          style="width: 200px; height: 200px"
      /></a>
    </div>
  </div>
</div>
<%- include('../layout/bottom') %>
