<%- include('../layout/top') %>
<div class="BattleWallpaper">
  <div
    class="container d-flex flex-column justify-content-center align-items-center"
  >
    <% if (oldpet1 && oldpet2 && winnerpet) { %>
    <h3>Results</h3>
    <div>
      <a href="pets/<%= oldpet1.ID %>"
        ><img
          src="images/<%= oldpet1.foto ?? 'nofoto.png' %>"
          class="img-fluid object-fit-cover"
          style="width: 100px; height: 100px"
      /></a>
      <a href="pets/<%= oldpet2.ID %>"
        ><img
          src="images/<%= oldpet2.foto ?? 'nofoto.png' %>"
          class="img-fluid object-fit-cover"
          style="width: 100px; height: 100px"
      /></a>
    </div>
    <h4> <%= Math.round( (howmanytimesWinnerPetWon[0].count /  amountOfBattles[0].count) * 100) %> % think that <%= winnerpet[0].name %> is better! </h4>
    <% } %>
  </div>
  <div
    class="container d-flex flex-column justify-content-center align-items-center"
  >
    <h1>
      <%= pet1.name %>
      <img
        src="/IMG/—Pngtree—cartoon vs or versus text_8543385.png"
        style="max-height: 100px"
      />
      <%= pet2.name %>
    </h1>
    <div>
      <a href="pets/result/<%= pet1.ID %>"
        ><img
          id="<%= pet1.ID %>"
          src="images/<%= pet1.foto ?? 'nofoto.png' %>"
          class="img-fluid object-fit-cover"
          style="width: 200px; height: 200px"
      /></a>
      <a href="pets/result/<%= pet2.ID %>"
        ><img
          id="<%= pet2.ID %>"
          src="images/<%= pet2.foto ?? 'nofoto.png' %>"
          class="img-fluid object-fit-cover"
          style="width: 200px; height: 200px"
      /></a>
    </div>
  </div>
</div>
<script>
</script>
<%- include('../layout/bottom') %>
