<%- include("../layout/top") %>

<table>
    <thead>
        <th>#</th>
        <th>Species_ID</th>
        <th>Species name</th>
        <th>Name</th>
        <th>Foto</th>
        <th>Email</th>
        <th>Creation date</th>
    </thead>
    <tbody>
            <tr>
                <td><%= pet.ID%></td>
                <td><%= pet.species_ID%></td>
                <td><%= pet.species%></d>
                <td><%= pet.name%></td>
                <td><%= pet.foto%></td>
                <td><%= pet.email%></td>
                <td><%= pet.created_at%></td>
            </tr>
    </tbody>
</table>


<%- include("../layout/bottom") %>