<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pets list</title>
  </head>
  <body>
    <a href="/pets/create">Add pet</a>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Species#</th>
          <th>Name</th>
          <th>Foto</th>
          <th>Email</th>
          <th>Created_At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i in rows) { %>
        <tr>
          <td><%= rows[i].ID %></td>
          <td><%= rows[i].species_ID %></td>
          <td><%= rows[i].name %></td>
          <td><%= rows[i].foto %></td>
          <td><%= rows[i].email %></td>
          <td><%= rows[i].created_at %></td>
          <td>
            <a
              class="btn btn-danger delete"
              onclick="return alert('Are you sure want to delete this record?')"
              href="/pets/delete/<%=rows[i].ID%>"
              >Delete</a
            >
            <a href="/pets/<%=rows[i].ID%>">View</a>
            <a href="/pets/<%=rows[i].ID%>/edit">Edit</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
