<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <base href="http://localhost:3000/" />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Foto</th>
        <th>Wins</th>
      </thead>
      <tbody>
        <tr>
          <td><%= pet_name %></td>
          <td>
            <img
              src="images/<%= pet_photo ?? 'nofoto.png' %>"
              style="max-height: 40px"
            />
          </td>
          <td><%= result_count %></td>
        </tr>
      </tbody>
    </table>
  </div>
  </body>
</html>
