<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/pets/<%= pet.ID %>" method="post">
      <div>
        <input type="number" name="species_ID" id="species#" value="<%= pet.species_ID %>" />
        <label for="species#">Species#</label>
      </div>
      <div>
        <input type="text" name="name" id="Name" value="<%= pet.name %>" />
        <label for="Name">Name</label>
      </div>
      <div>
        <input type="text" name="foto" id="Foto" value="<%= pet.foto %>" />
        <label for="Foto">Foto</label>
      </div>
      <div>
        <input type="text" name="email" id="Email" value="<%= pet.email %>" />
        <label for="Email">Email</label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>