<%- include('../layout/top') %>
<div class="container">
  <h1 class="text-center my-3"><%= title %></h1>

  <div class="d-flex flex-wrap justify-content-center align-items-center mb-3">
    <% for(let i in pets) { %>

    <div class="card text-center my-3 mx-3" style="width: 25rem">
      <img
        class="indexIMG card-img-top img-fluid object-fit-cover"
        src="images/<%= pets[i].foto ?? 'nofoto.png' %>"
      />
      <div class="card-body">
        <h5 class="card-title"><%= pets[i].name %></h5>
        <div>
          <a href="/pets/<%= pets[i].ID %>" class="btn btn-success"
            ><i class="bi bi-eye-fill"></i> View</a
          >
          <a class="btn btn-primary" href="/pets/<%= pets[i].ID %>/edit"
            ><i class="bi bi-pencil-square"></i> Edit</a
          >
          <a class="btn btn-danger" href="/pets/<%= pets[i].ID %>/delete"
            ><i class="bi bi-trash"></i> Delete</a
          >
        </div>
      </div>
    </div>

    <% } %>
  </div>
  <div class="text-center">
    <a class="btn btn-warning mb-3" href="/pets/create"
      ><i class="bi bi-plus-square mx-2"></i>Add pet</a
    >
  </div>
</div>

<%- include('../layout/bottom') %>
