<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
  </head>
  <body>
    <h1><% title %></h1>
    <a href="/pets/create">Add</a>
    <table>
      <thead>
        <th>#</th>
        <th>SpeciesID</th>
        <th>Name</th>
        <th>Foto</th>
        <th>Email</th>
        <th>Created_At</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% for(let i in pets) { %>
        <tr>
          <td><%= pets[i].ID %></td>
          <td><%= pets[i].species_ID %></td>
          <td><%= pets[i].name%></td>
          <td><%= pets[i].foto%></td>
          <td><%= pets[i].email%></td>
          <td><%= pets[i].created_at%></td>
          <td><a href="/pets/<%=pets[i].ID%>">View</a></td>
          <td><a href="/pets/<%=pets[i].ID%>/edit">Edit</a></td> 
          <td><a href="/pets/<%=pets[i].ID%>/delete">Delete</a></td> 
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
