<%- include("../layout/top") %>


<h1><%= title %></h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i in species) { %>
    <tr>
      <th><%= species[i].ID %></th>
      <th><%= species[i].Name %></th>
    </tr>
    <% } %>
  </tbody>
</table>

<%- include("../layout/bottom") %>
