<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
    <base href="http://localhost:3000/">
  </head>
  <body>
    <h1><% title %></h1>
    <table>
      <thead>
        <th>Species</th>
        <th>Name</th>
        <th>Foto</th>
        <th>Created_At</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr>
          <td><%= pet.species %></td>
          <td><%= pet.name%></td>
          <td><img src="images/<%= pet.foto ?? 'nofoto.png' %>" style="max-height: 40px;"></td>
          <td><%= pet.created_at%></td>
          <td><a href="/pets">Home</a> <a href="/pets/<%= pet.ID %>/edit">Edit</a> <a href="/pets/<%= pet.ID %>/delete">Delete</a> </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>