<%- include('../layout/top') %>
<%- include("../layout/navbar")%>
<div class="container text-white">
  <h1 class="text-center my-4">Pet <span class="text-warning">profile</span></h1>

  <div
    class="h-100 d-flex flex-column justify-content-center align-items-center"
  >
  <div class="card text-center text-white" style="width: 25rem;">
    <div class="card-body">
      <img class="cardIMG img-fluid object-fit-cover card-img-top" src="images/<%= pet.foto ?? 'nofoto.png' %>" alt="petfoto">
      <h5 class="card-title"><%= pet.name%></h5>
      <h6 class="card-subtitle mb-2"><%= pet.species%></h6>
      <p class="card-text">Added to this site on <%= pet.created_at%></p>
      <div class="text-center">
        <a class="btn aqua-button btn-sm text-white" href="/pets/<%= pet.ID %>/edit"><i class="bi bi-pencil-square"></i> Edit</a>
        <a class="btn salad-button btn-sm text-white" href="/pets/<%= pet.ID %>/delete"><i class="bi bi-trash"></i> Delete</a>
      </div>
    </div>
  </div>
  </div>
</div>

<%- include('../layout/bottom')%>
