<%- include("../layout/top") %>

<h1><% title %></h1>
<div>
    <div><%=pet.ID %></div>
    <div><%=pet.species%></div>
    <div><%=pet.name %></div>
    <div><%=pet.foto %></div>
    <div><%=pet.email %></div>
    <div><%=pet.created_at %></div>
</div>

<%- include("../layout/bottom") %>